# confidential info
/config.json
*.db

# all bot sessions
/sessions
*.session
*.session-journal

# don't upload garbage
/err_logs/*
*.DS_Store
*.pyc

# python 3.12 modules in "reqierements.txt"
venv

# other useless stuff
.idea
drafts/config.json
